body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table{
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td{
    border: 2px solid #ddd;
}

th, td{
    padding: 5px;
    text-align: left;
}